<ion-header>

  <ion-navbar color="dark">
    <ion-toolbar no-border-top>
      <ion-title>Datos {{nombre}}</ion-title>
      <ion-buttons end>
        <button ion-button (click)="petForm.valid && getDataPet()" icon-end [disabled]="!petForm.valid">
          <ion-icon name="create"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="petForm">
    <ion-list>
      <ion-item no-lines>
        <!--<img [src]="'data:image/png;base64,' + imagenPet" style="width:100px;" (click)="getPicture()" alt="Selecciona">-->
        <input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)"/>
        <div class="profile-image-wrapper" (click)="getPicture()">
          <div class="profile-image-placeholder" *ngIf="!this.imagenPet">
            <ion-icon name="add"></ion-icon>
          </div>
          <div class="profile-image" [style.backgroundImage]="getProfileImageStyle()" *ngIf="this.imagenPet"></div>
        </div>
      </ion-item>
      <ion-item>
        <ion-label floating>Nombre</ion-label>
        <ion-input formControlName="nombre" type="text"></ion-input>
      </ion-item>
      <ion-item no-lines *ngIf="(petForm.get('nombre').hasError('required')) && petForm.get('nombre').touched">
        <div class="error" *ngIf="(petForm.get('nombre').hasError('required')) && petForm.get('nombre').touched">
          <p class="error_message">Ingresa un nombre valido.</p>
        </div>
      </ion-item>

      <ion-item>
        <ion-label>Tipo de Mascota</ion-label>
        <ion-select formControlName="tipoMascota" [selectOptions]="tipoMascotaAlertOpts" name="tipoMascota"
                    cancelText="Cancelar"
                    okText="Aceptar">
          <ion-option *ngFor="let type of typePets" [value]="type.id">{{type.nombre}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item no-lines
                *ngIf="(petForm.get('tipoMascota').hasError('required')) && petForm.get('tipoMascota').touched">
        <div class="error"
             *ngIf="(petForm.get('tipoMascota').hasError('required')) && petForm.get('tipoMascota').touched">
          <p class="error_message">Selecciona un tipo de mascota.</p>
        </div>
      </ion-item>

      <ion-item>
        <ion-label>Genero</ion-label>
        <ion-select formControlName="genero" name="generoMascota" cancelText="Cancelar" okText="Aceptar">
          <ion-option value="Hembra">Hembra</ion-option>
          <ion-option value="Macho">Macho</ion-option>
        </ion-select>
      </ion-item>
      <ion-item no-lines *ngIf="(petForm.get('genero').hasError('required')) && petForm.get('genero').touched">
        <div class="error" *ngIf="(petForm.get('genero').hasError('required')) && petForm.get('genero').touched">
          <p class="error_message">Selecciona un genero.</p>
        </div>
      </ion-item>

      <ion-item>
        <ion-label>Nacimiento</ion-label>
        <ion-datetime formControlName="fechaNacimiento" displayFormat="MM/DD/YYYY"
                      name="fechaNacimiento"></ion-datetime>
      </ion-item>
      <ion-item no-lines
                *ngIf="(petForm.get('fechaNacimiento').hasError('required')) && petForm.get('fechaNacimiento').touched">
        <div class="error"
             *ngIf="(petForm.get('fechaNacimiento').hasError('required')) && petForm.get('fechaNacimiento').touched">
          <p class="error_message">Ingresa una fecha de nacimiento.</p>
        </div>
      </ion-item>

      <ion-item>
        <ion-label floating>Raza</ion-label>
        <ion-input formControlName="raza" type="text"></ion-input>
      </ion-item>
      <ion-item no-lines *ngIf="(petForm.get('raza').hasError('required')) && petForm.get('raza').touched">
        <div class="error" *ngIf="(petForm.get('raza').hasError('required')) && petForm.get('raza').touched">
          <p class="error_message">Raza no valida.</p>
        </div>
      </ion-item>

      <ion-item>
        <ion-label>Esterilizado</ion-label>
        <ion-select formControlName="esterilizado" name="esterilizado" cancelText="Cancelar" okText="Aceptar">
          <ion-option value="Si">Si</ion-option>
          <ion-option value="No">No</ion-option>
        </ion-select>
      </ion-item>
      <ion-item no-lines
                *ngIf="(petForm.get('esterilizado').hasError('required')) && petForm.get('esterilizado').touched">
        <div class="error"
             *ngIf="(petForm.get('esterilizado').hasError('required')) && petForm.get('esterilizado').touched">
          <p class="error_message">Selecciona una opción.</p>
        </div>
      </ion-item>

      <ion-item>
        <ion-label floating>Color</ion-label>
        <ion-input formControlName="color" type="text"></ion-input>
      </ion-item>
      <ion-item no-lines *ngIf="(petForm.get('color').hasError('required')) && petForm.get('color').touched">
        <div class="error" *ngIf="(petForm.get('color').hasError('required')) && petForm.get('color').touched">
          <p class="error_message">Ingresa un color valido.</p>
        </div>
      </ion-item>

      <ion-item>
        <ion-label floating>Descripcion</ion-label>
        <ion-textarea formControlName="descripcion"></ion-textarea>
      </ion-item>
      <ion-item no-lines
                *ngIf="(petForm.get('descripcion').hasError('required')) && petForm.get('descripcion').touched">
        <div class="error"
             *ngIf="(petForm.get('descripcion').hasError('required')) && petForm.get('descripcion').touched">
          <p class="error_message">Ingresa una breve descripción.</p>
        </div>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
