<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Agenda</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let mascota of agenda">
    <ion-list-header>
      {{mascota.nombre}}
    </ion-list-header>
    <ion-item *ngFor="let cita of mascota.citas" [ngSwitch]="cita.tipoActividad"
              (click)="goToViewEvent(cita, mascota.nombre)">
      {{cita.tipoActividad}}

      <ion-icon *ngSwitchCase="'Veterinario'" name='medkit' item-start></ion-icon>
      <ion-icon *ngSwitchCase="'Peluqueria'" name='cut' item-start></ion-icon>
      <ion-icon *ngSwitchCase="'Vacuna'" name='color-filter' item-start></ion-icon>
      <ion-icon *ngSwitchCase="'Jugar'" name='game-controller-b' item-start></ion-icon>
      <ion-icon *ngSwitchCase="'Dientes'" name='color-wand' item-start></ion-icon>
      <ion-icon *ngSwitchCase="'Baño'" name='color-fill' item-start></ion-icon>
      <ion-icon *ngSwitchDefault name='clipboard' item-start></ion-icon>
      <ion-note item-end>{{cita.fechaEvento}} {{cita.horaEvento}}</ion-note>
    </ion-item>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab (click)="goToChoseePet()" color="danger">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
