<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Suministros</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let suministro of suministros">
    <ion-list-header>
      {{suministro.nombreTipoSuministro}}
    </ion-list-header>
    <ion-item *ngFor="let detalle of suministro.detalles" [ngSwitch]="suministro.nombreTipoSuministro" (click)="goToViewSupplie(detalle)">
      {{detalle.nombre}}
      <ion-icon *ngSwitchCase="'Juguete'" name='american-football' item-start></ion-icon>
      <ion-icon *ngSwitchCase="'Alimento principal'" name='cart' item-start></ion-icon>
      <ion-icon *ngSwitchCase="'Suplemento'" name='ice-cream' item-start></ion-icon>
      <ion-icon *ngSwitchCase="'Premio'" name='football' item-start></ion-icon>
      <ion-icon *ngSwitchDefault name='construct' item-start></ion-icon>
      <ion-note item-end>{{detalle.cantidad}} {{detalle.unidadMedida}}</ion-note>
    </ion-item>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab (click)="goToCreateSupplie()" color="danger"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
