<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mascotas</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="pet">
      <ion-segment-button value="duenios">
        Dueños
      </ion-segment-button>
      <ion-segment-button value="mascotas">
        Mascotas
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <!-- <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar> -->
  <ion-searchbar></ion-searchbar>
</ion-header>

<ion-content>

  <div [ngSwitch]="pet">
    <ion-list *ngSwitchCase="'duenios'">
      <ion-item *ngFor="let cliente of clientes" (click)="gotToViewHisPets(cliente)">
        <ion-card class="adv-map">
          <ion-item>
            <ion-icon color="subtle" large item-start name='contact'></ion-icon>
            <h2>{{cliente.nombreCliente}}</h2>
            <p><strong>No. Visitas</strong> {{cliente.numerovisitas}}</p>
          </ion-item>
          <ion-item actions>
            <span ion-text item-start color="secondary"
                  class="item-bold">Ultima Solicitud: {{cliente.ultimaSolicitud}}</span>
          </ion-item>
        </ion-card>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'mascotas'">
      <div *ngFor="let cliente of clientes">
        <h2>{{cliente.nombreCliente}}</h2>
        <ion-item *ngFor="let mascota of cliente.mascotas" (click)="gotToViewPet(mascota)">
          <ion-card class="adv-map">
            <ion-item>
              <ion-icon color="subtle" large item-start name='paw'></ion-icon>
              <h2>{{mascota.nombreMascota}}</h2>
            </ion-item>
            <ion-item actions>
              <span ion-text item-start color="secondary" class="item-bold">Ultima Solicitud: {{mascota.ultimaSolicitud}}</span>
            </ion-item>
          </ion-card>
        </ion-item>
      </div>
    </ion-list>
  </div>
</ion-content>
