<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mascotas</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <form [formGroup]="searchForm" (ngSubmit)="search()">
      <ion-list>
        <ion-item>
          <ion-label>Fecha Inicial</ion-label>
          <ion-datetime formControlName="fechaInicial" displayFormat="MM/DD/YYYY" name="fechaInicial"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>Fecha Final</ion-label>
          <ion-datetime formControlName="fechaFinal" displayFormat="MM/DD/YYYY" name="fechaInicial"></ion-datetime>
        </ion-item>
      </ion-list>
      <button ion-button full icon-start [disabled]="!searchForm.valid">
        <ion-icon name="search"></ion-icon>
        Buscar Solicitudes
      </button>
    </form>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <h2>Solicitudes de los clientes</h2>
    </ion-list-header>
    <ion-item-sliding *ngFor="let request of requests">
      <ion-item>
        <p><strong>Horario: </strong>{{request.fecha}} - <strong>Usuario: </strong>{{request.usuario}}</p>
        <p><strong>Tipo Actividad: </strong>{{request.tipoActividad}}</p>
        <h2 style="font-weight: bold; color: red;">Mensaje</h2>
        <p>{{request.mensaje}}</p>
        <div *ngIf="request.respuesta != ''">
          <h2 style="font-weight: bold; color: orange;">Respondiste</h2>
          <p>{{request.respuesta}}</p>
        </div>
      </ion-item>
      <ion-item-options>
        <button ion-button color="secondary" icon-start (click)=sendResponse(request) *ngIf="!request.estado">
          <ion-icon name="text"></ion-icon>
          Responder
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
